.navBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.navBar > div {
    flex-basis: 50%;
    display:flex;
    padding-top: 3rem;
    padding-bottom: 1rem;
    align-items: flex-end;
}

.linksSection {
    font-size: 1.2rem;
    justify-content: space-around;
    color: rgb(80, 80, 80);
}

.downloadButtonSection {
    justify-content: end;
    margin-right: 8rem;
    font-size: 1.2rem;
    color: black;
}

.downloadButtonSection > a {
    padding: 1rem 1.1rem;
    border: 2px solid transparent;
    border-radius: 0.3rem;
    font-weight: 600;
    background-color: white;
}